

.sidebarbtntext {


    line-height:25px;

}

.material-icons {

    display: inline-flex;
    vertical-align: top;

}

.filebtn{
    position: relative;
    overflow: hidden;
    font-size: 15px;

  }
.fileinput {
    position: absolute;
   
    opacity: 0;
    right: 0;
    top: 0;
  }


@media (max-width: 900px) {
    .data-row{

        line-height: 85px;
    }
    #viewbutton{

        margin-top: 25px;

    }
}